language: python
cache: pip
python:
  - "3.8"

env:
  - SLURPER_PROJECT=./tests

stages:
  - lint
  - test
  - name: deploy
    if: tag IS present

jobs:
  include:
    - stage: lint
      script:
        - "echo 'TODO: Lint'"
    - stage: test
      services:
        - postgresql
      before_script:
        - psql -c 'create database slurpertest;' -U postgres
      install:
        - pip install tox-travis codecov
      script:
        - tox
      after_success:
        - set -x; if [[ "$TOXENV" -eq "py38" ]]; then coverage xml; codecov; fi
    - stage: deploy
      script:
        - echo Deploying to PyPI

before_deploy:
  - pip install --upgrade pip
  - pip install poetry
  - poetry config http-basic.pypi $PYPI_USER $PYPI_PASS
  - poetry build

deploy:
  provider: script
  script: poetry publish
  skip_cleanup: true
  on:
    all_branches: true # Travis recognizes tag names as "branches"
    condition: $TRAVIS_BUILD_STAGE_NAME = Deploy
    repo: mgerst/flag-slurper
    tags: true

